SOA12_2_1/e2e-1201-servicebus/Schemas/CanonicalOrder.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xs:schema targetNamespace="http://www.oracle.com/soasample" elementFormDefault="qualified" attributeFormDefault="unqualified"
     xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/soasample">
<!--
	  e2e-1201-orderprocessing data types 
	  
	  Last update:  4/18 version 1.2
	
	
-->
    <xs:element name="Order"
         type="OrderType">
        <xs:annotation>
            <xs:documentation>The canonical order element</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OrderAck" type="OrderAckType">
        <xs:annotation>
            <xs:documentation>The canonical order ack element</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PaymentInfo" type="PaymentType">
        <xs:annotation>
            <xs:documentation>The canonical order element</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PaymentStatus" type="PaymentStatusType">
        <xs:annotation>
            <xs:documentation>The canonical order element</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Shipping" type="ShippingType">
        <xs:annotation>
            <xs:documentation>The canonical order element</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="InventoryQuery" type="InventoryQueryType">
        <xs:annotation>
            <xs:documentation>The inventory element</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="InventoryResponse" type="InventoryType">
        <xs:annotation>
            <xs:documentation>The inventory element</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TotalOrderAmount" type="MoneyType">
        <xs:annotation>
            <xs:documentation>The total order amount element</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:simpleType name="MoneyType">
        <xs:restriction base="xs:double"/>
    </xs:simpleType>
    <xs:simpleType name="OrderNumberType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NameType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="FirstName" type="NameType"/>
            <xs:element name="LastName" type="NameType" minOccurs="1"/>
            <xs:sequence minOccurs="1" maxOccurs="3">
                <xs:element name="AddressLine">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="180"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
            <xs:element name="City">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="25"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="State">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ZipCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                        <xs:minLength value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PhoneNumber" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="11"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ItemType">
        <xs:annotation>
            <xs:documentation>This information will be populated from INVDTA/ITMMSTP from bronze where product_id = isku</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SKU">
                <xs:annotation>
                    <xs:documentation>Column ISKU</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Quantity" type="xs:int"/>
            <xs:element name="UnitPrice" type="MoneyType"/>
            <xs:element name="Brand" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Column BRAND</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Model" nillable="true">
                <xs:annotation>
                    <xs:documentation>Column MODEL</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Category" nillable="true">
                <xs:annotation>
                    <xs:documentation>Column CATEG</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:totalDigits value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Description" nillable="true">
                <xs:annotation>
                    <xs:documentation/>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShippingSpeedType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Standard"/>
            <xs:enumeration value="Twoday"/>
            <xs:enumeration value="Oneday"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ShippingProviderType">
        <xs:annotation>
            <xs:documentation>ShippingProviderType for now only contains the name of the Provider - we may expand later</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Name" nillable="true">
                <xs:annotation>
                    <xs:documentation>Name of the shipping provider for packing service - FedEx ups, us postal</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderType">
        <xs:sequence>
            <xs:element name="OrderNumber" type="OrderNumberType" minOccurs="0"/>
            <xs:element name="SessionID" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="OrderDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="Billing" type="PaymentType" minOccurs="1"/>
            <xs:element name="Shipping" type="ShippingType" minOccurs="1"/>
            <xs:element name="Email" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Items">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Item" type="ItemType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Status" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentType">
        <xs:sequence>
            <xs:element name="CardPaymentType">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:pattern value="[0-5]"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CardNum">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="16"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ExpireDate">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CardName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="BillingAddress" type="AddressType"/>
            <xs:element name="AuthorizationDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="AuthorizationAmount" type="MoneyType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShippingMethodType">
        <xs:restriction base="xs:int">
            <xs:pattern value="[1-3]{1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ShippingType">
        <xs:sequence>
            <xs:element name="OrderNumber" type="OrderNumberType" minOccurs="0"/>
            <xs:element name="Address" type="AddressType"/>
            <xs:element name="ShippingSpeed" type="ShippingSpeedType" minOccurs="0"/>
            <xs:element name="ShippingProvider" type="ShippingProviderType" minOccurs="0"/>
            <xs:element name="ShipMethod" type="ShippingMethodType" minOccurs="0"/>
            <xs:element name="Status" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderAckType">
        <xs:sequence>
            <xs:element name="OrderNumber" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentStatusType">
        <xs:sequence>
            <xs:element name="Status" type="xs:string">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InventoryQueryType">
        <xs:sequence>
            <xs:element name="Category" nillable="true">
                <xs:annotation>
                    <xs:documentation/>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:totalDigits value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InventoryType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="SKU">
                <xs:annotation>
                    <xs:documentation/>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TotalQuantity" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>