POC/apps/CustomSchema/updateOrderJava.xsd

<xsd:schema xmlns:ns0="http://model/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://model/">
<xsd:complexType name="updateOrder">
<xsd:sequence>
<xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="updateOrderResponse">
<xsd:sequence>
<xsd:element name="return" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="updateOrder" type="ns0:updateOrder"/>
<xsd:element name="updateOrderResponse" type="ns0:updateOrderResponse"/>
</xsd:schema>